<div class="">
    <h1 class="pl-2 mb-2">Popular Services</h1>
    <div class="px-4 sm:px-0">
        <Table::Old @filteredData={{this.model}} @query="popular" />
    </div>
</div>

<div class="mt-4">
    <h1 class="pl-2 mb-2">Recent Services</h1>
    <div class="px-4 sm:px-0">
        <Table::Old @filteredData={{this.model}} @query="recent" />
    </div>
</div>

<div class="mt-4">
    <h1 class="pl-2 mb-2">Top Services</h1>
    <div class="px-4 sm:px-0">
        <Table::Old @filteredData={{this.model}} @query="top" />
    </div>
</div>
